<div class="container">
	<div>
		<p></p>
	</div>
	<div *ngIf="user">
		<div class="jumbotron container-fluid col-sm-8">
			<fieldset class="the-fieldset col-sm-12">
				<legend class="the-legend">
					<h2>Hello {{user.firstName}}</h2>
				</legend>

				<a href="/api/auth/signout">Signout</a>
				<ul>
					<li>
						<a [routerLink]="['/articles']">List Register Forms</a>
					</li>
					<!-- <li><a [routerLink]="['/articles/create']">Create Article</a></li> -->
				</ul>
			</fieldset>
		</div>
	</div>
	<div *ngIf="!user">

		<div class="jumbotron container-fluid col-sm-8">
				<img src="img/banner.JPG" class="img-fluid" alt="Responsive image">
			<fieldset class="the-fieldset col-sm-12">
				<h4>Dear Participants and invitees,</h4>
				<p >Welcome to the UKC 2018 registration site. Select your registration type:</p>
				<p><a href="/authentication/signin" class="btn btn-success btn-lg active btn-lg" role="button">KSEA MEMBER</a> 
					<a href="/register/" class="btn btn-success btn-lg active btn-lg" role="button">NON-MEMBER</a></p>
					<blockquote class="blockquote"><p class="mb-0 text-justify">Please provide your registration is required for you to attend the UKC 2018. There is no exception even for those who are not
						involved in Symposium or Forum programs. Presenters without registration by the due date will automatically be removed from the program.
					</p></blockquote>
						<strong>
							<ul class="list">
								<li>Early registration due: April 30 </li>
								<li>Online registration closure: July 15</li>
								<li>After June 30, 2018, the registration free will NOT be refundable.</li>
								<li>On-site registration will be available at the registration desk during the conference at the on-site registration fee.</li>
							</ul>
						</strong>
						<blockquote class="blockquote"><p class="mb-0 text-justify">To reserve your hotel room at discount rate, please click the button 'Hotel Reservation'</p>
					<p><a href="https://book.passkey.com/event/16448520/owner/10336/landing" class="btn btn-success btn-lg" role="button">HOTEL RESERVATION</a></p>
					<p class="mb-0 text-justify">To book your domestic/international travel for UKC2018 at discounted price, please click the buttion 'Flight Reservation'</p>
					<p><a href="#" class="btn btn-success btn-lg" role="button">FLIGHT RESERVATION</a></p>
					<p class="mb-0 text-justify">For the local transportation at discounted price, please click the button 'Local transportation'</p>
					<p><a href="#" class="btn btn-success btn-lg" role="button">LOCAL TRANSPORTATION</a></p>
					<p class="mb-0 text-center"><em> Contact the organizers at ukc2018@gmail.com if you have any questions.</em></p></blockquote>
				<!--<legend class="the-legend">SIU Online Prospect Student Contact Management System</legend>

				<div class="center col-sm-8">
					<p>
						<a href="/register/" class="btn btn-outline-success btn-lg" role="button">Student Contact Form</a>
					</p>

					<p>
						<a href="/authentication/signin" class="btn btn-outline-success btn-lg" role="button">Student Advisor Details</a>
					</p>

					<p>
						<a href="/authentication/signin" class="btn btn-outline-success btn-lg" role="button">Director Details</a>
					</p>

					<p>
						<a href="/authentication/signin" class="btn btn-outline-success btn-lg" role="button">Administrator Details</a>
					</p>

				</div>
				<hr>
				<p>
					<a href="/authentication/signup" class="btn btn-primary" role="button">Signup</a>
				</p>
				 <p><a [routerLink]="['/authentication/signup']">Signup</a></p>	
	<p><a [routerLink]="['/authentication/signin']">Signin</a></p>	
	<p><a [routerLink]="['/register/']">Register</a></p>	 -->
			</fieldset>
		</div>
	</div>

</div>
<style>
	.center {
		padding-left: 20%;
	}

	.the-legend {
		color: #FFFFFF;
		background-color: #660000;
		padding: 7px;
		border-radius: 7px;
		font-weight: bold;
		font-size: 14px;
		display: block;
		-webkit-padding-start: 2px;
		-webkit-padding-end: 2px;
		border-width: inherit;
		border-style: none;
		border-color: initial;
		border-image: initial;
		width: auto;
	}

	.the-fieldset {
		border: 1px solid #660000;
		padding: 10px;
		border-radius: 7px;
		width: auto;
	}

	.form-group.row {
		width: auto;
	}

	div.jumbotron.container.fluid {
		width: auto;
	}

	.red-star {
		color: red;
		font-size: 60%;
	}

	.btn-lg {
		width: 300px !important;
	}
</style>