<div class="container">
	<div>
		<p></p>
	</div>
	<div *ngIf="user">
		<div class="jumbotron container-fluid col-sm-8">
			<fieldset class="the-fieldset col-sm-12">
				<legend class="the-legend">
					<h2>Hello {{user.firstName}}</h2>
				</legend>

				<a href="/api/auth/signout">Signout</a>
				<ul>
					<li>
						<a [routerLink]="['/articles']">List Register Forms</a>
					</li>
					<!-- <li><a [routerLink]="['/articles/create']">Create Article</a></li> -->
				</ul>
			</fieldset>
		</div>
	</div>
	<div *ngIf="!user">

		<div class="jumbotron container-fluid col-sm-8">
				<img src="img/banner.jpg" class="img-fluid" alt="Responsive image">
			<fieldset class="the-fieldset col-sm-12">
				<h4>Dear Participants and invitees,</h4>
				<p >Welcome to the UKC 2018 registration site. Select your registration type:</p>
				<p><a href="/authentication/signin" class="btn btn-success btn-lg active btn-lg" role="button">KSEA MEMBER</a> 
					<a href="/register/step1" class="btn btn-success btn-lg active btn-lg" role="button">NON-MEMBER</a></p>
					<blockquote class="blockquote"><p class="mb-0 text-justify">Please provide your registration is required for you to attend the UKC 2018. There is no exception even for those who are not
						involved in Symposium, Forum  or YG/PF programs. Presenters without registration by the due date will be automatically removed from the program.
					</p></blockquote>
						<strong>
							<ul class="list">
								<li>Online registration start: May 15, 2018 (Tuesday) </li>
								<li>Early discounted online registration due: June 15, 2018 (Friday)</li>
								<li>Discounted online registration due: June 30, 2018 (Saturday)</li>
								<li>On-site registration will be available at the registration desk during the conference without any discount.</li>
							</ul>
						</strong>
						
				<blockquote>	<p class="mb-0 text-center"><em> Contact the organizers at ukc2018@gmail.com if you have any questions.</em></p></blockquote>
				<!--<legend class="the-legend">SIU Online Prospect Student Contact Management System</legend>

				<div class="center col-sm-8">
					<p>
						<a href="/register/" class="btn btn-outline-success btn-lg" role="button">Student Contact Form</a>
					</p>

					<p>
						<a href="/authentication/signin" class="btn btn-outline-success btn-lg" role="button">Student Advisor Details</a>
					</p>

					<p>
						<a href="/authentication/signin" class="btn btn-outline-success btn-lg" role="button">Director Details</a>
					</p>

					<p>
						<a href="/authentication/signin" class="btn btn-outline-success btn-lg" role="button">Administrator Details</a>
					</p>

				</div>
				<hr>
				<p>
					<a href="/authentication/signup" class="btn btn-primary" role="button">Signup</a>
				</p>
				 <p><a [routerLink]="['/authentication/signup']">Signup</a></p>	
	<p><a [routerLink]="['/authentication/signin']">Signin</a></p>	
	<p><a [routerLink]="['/register/']">Register</a></p>	 -->
			</fieldset>
		</div>
	</div>

</div>
<style>
	.center {
		padding-left: 20%;
	}

	.the-legend {
		color: #FFFFFF;
		background-color: #660000;
		padding: 7px;
		border-radius: 7px;
		font-weight: bold;
		font-size: 14px;
		display: block;
		-webkit-padding-start: 2px;
		-webkit-padding-end: 2px;
		border-width: inherit;
		border-style: none;
		border-color: initial;
		border-image: initial;
		width: auto;
	}

	.the-fieldset {
		border: 1px solid #660000;
		padding: 10px;
		border-radius: 7px;
		width: auto;
	}

	.form-group.row {
		width: auto;
	}

	div.jumbotron.container.fluid {
		width: auto;
	}

	.red-star {
		color: red;
		font-size: 60%;
	}

	.btn-lg {
		width: 300px !important;
	}
</style>